<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <context:component-scan base-package="pl.com.k1313"/>
    <!--<context:property-placeholder location="classpath:playerRepository.properties"/>-->


    <import resource="classpath:config/team-config.xml"/>

    <bean id="playerTask" class="pl.com.k1313.goal4goal.domain.PlayerTask" scope="prototype"/>

    <bean id="player1" primary="true"
          class="pl.com.k1313.goal4goal.domain.Player"
          scope="prototype">
        <constructor-arg index="0" value="Zenon"/>
        <constructor-arg index="1" value="29"/>
        <property name="playerTask" ref="playerTask"/>
    </bean>

    <bean id="player2"
          class="pl.com.k1313.goal4goal.domain.Player"
          scope="prototype">
        <constructor-arg index="0" value="Sebix"/>
        <constructor-arg index="1" value="24"/>
        <property name="playerTask" ref="playerTask"/>
    </bean>

  <task:scheduled id="myScheduler" pool-size="10"/>

          <task:scheduled-tasks>
              <task:scheduled ref="playerTaskRepository" method="createRandomPlayerTask" fixed-rate="2000"/>
          </task:scheduled-tasks>

</beans>