<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hire New Player</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

</head>
<body>
<div class="container">

    <h4 align="center" th>FIRST SQUAD: </h4>
    <div>
        <br>
        <p th:align="center">FIRST SQUAD</p>
        <table class="table">
            <thead>
            <td>LEFT </td>
            <td th:cols="3">LEFT_TO_CENTER</td>
            <td>CENTER</td>
            <td>RIGHT_TO_CENTER</td>
            <td>RIGHT</td>
            </thead>
            <tbody>
            <tr>
                <td> 1</td>
                <td >2</td>
                <td> </td>
            <tbody th:each="player : ${firstsquadplayers}">
            <tr>
                <td th:text="${player.firstName}"></td>
<!--                <td th:text="player.firs"></td>-->
                <td>

                    <div class="col-md-5 ">
                        <form method="post" th:object="${players}">

                            <div class="form-group">
                                <select class="form-control selectpicker"  th:value="${player.position}"
                                        id="playerPosition" name="playerPosition" required autofocus>
                                    <!--                                    we wzorze było z th:field, tak jak ponizej-->
                                    <!--                                    <select class="form-control selectpicker" th:field="*{player.playerPosition}" id="player">-->
                                    <option value="">Not selected</option>
                                    <option th:each="player : ${T(pl.com.k1313.goal4goal.domain.Position).values()}"
                                            th:value="${player}"
                                            th:text="${player}">player
                                    </option>

                                </select>
                            </div>

                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
            <td>4</td>
                <td>5</td>
            </tr>
            </td>
        </table>
</div>
</div>
</body>
</html>