<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hire New Player</title>
    <script src="/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>

</head>
<body>
<!--Navbar -->

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">Goal4Goal - Online Football Manager</a>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Main<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/team">Team</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/players">Players</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/schedules">Schedules</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="/tactics">Tactics</a>
            </li>
        </ul>
    </div>
</nav>
<!--/.Navbar -->
<div class="bg-image"
     style="background-image:
     url('https://image.shutterstock.com/image-vector/football-field-3d-background-vector-260nw-194264681.jpg');
                 background-repeat: no-repeat; background-size: cover;
                 background-position: center center; height: 100vh">
    <div class="container">

        <form th:action="@{/players/firstsquadplayers}" method="post">
            <br>
            <div>
                <br><br><br>
                <table  style="table-layout: fixed; width: 90%;  text-align: center"
                       class="table flex-row borderless "
                       th:name="first11">
                    <tbody style="font-weight: bold; font-size: larger">
                    <tr style="height: 120px">
                        <td style="width: 20%;" th:id="line1cell1" th:text=${first11FinalTable[0][0]}
                            class="table-hover"/>
                        <td style="width: 20%;" th:id="line1cell2" th:text=${first11FinalTable[1][0]}
                            class="table-hover"/>
                        <td style="width: 20%;" th:id="goalkeeper" th:text=${first11FinalTable[2][0]}
                            class="table-hover"/>
                        <td style="width: 20%;" th:id="line1cell4" th:text=${first11FinalTable[3][0]}
                            class="table-hover"/>
                        <td style="width: 20%;" th:id="line1cell5" th:text=${first11FinalTable[4][0]}
                            class="table-hover"/>

                    </tr>
                    <tr style="height: 120px">
                        <td th:id="rightWingback" th:text=${first11FinalTable[0][1]}/>
                        <td th:id="rightCentreback" th:text=${first11FinalTable[1][1]}/>
                        <td th:id="centreback" th:text=${first11FinalTable[2][1]}/>
                        <td th:id="leftCentreback" th:text=${first11FinalTable[3][1]}/>
                        <td th:id="leftWingback" th:text=${first11FinalTable[4][1]}/>
                    </tr>
                    <tr style="height: 120px">
                        <td th:id="rightWinger" th:text=${first11FinalTable[0][2]}/>
                        <td th:id="centreMidfielderDefending" th:text=${first11FinalTable[1][2]}/>
                        <td th:id="centreMidfielder" th:text=${first11FinalTable[2][2]}/>
                        <td th:id="centreMidfielderAttacking" th:text=${first11FinalTable[3][2]}/>
                        <td th:id="leftWinger" th:text=${first11FinalTable[4][2]}/>
                    </tr>
                    <tr style="height: 120px">
                        <td th:id="line4cell1" th:text=${first11FinalTable[0][3]}/>
                        <td th:id="rightForward" th:text=${first11FinalTable[1][3]}/>
                        <td th:id="centreForward" th:text=${first11FinalTable[2][3]}/>
                        <td th:id="leftForward" th:text=${first11FinalTable[3][3]}/>
                        <td th:id="line4cell5" th:text=${first11FinalTable[4][3]}/>
                    </tr>
                    </tbody>
                </table>
            </div>
        </form>

        <div>
            <table style="table-layout: fixed; width: 100%;  text-align: left"
                   th:name="first11footer">
                <tr>
                    <td>
                        <div style="border-color: #e7f4fd">
                            <label style="width: 25%" for="choosetactics" hidden>
                                <h5>Set Up Tactics</h5></label><br>
                            <select style="width: max-content" name="tactics" class="form-control"
                                    id="choosetactics"
                                    required>
                                <option>Pressing</option>
                                <option>Counter Attack</option>
                                <option>Long Balls</option>
                                <option>Ball Possessing</option>
                            </select>
                            <p></p>
                            <input align="right" type="submit" class="btn-primary" value="Set Up New Tactics"/><br>
                        </div>
                    </td>
                    <td align="right">
                        <label style="width: 25%" for="checkformations" hidden>
                            <h5>Formation Pts</h5></label><br>
                        <select style="width: max-content" name="formationsvalue"
                                class="form-control" id="checkformations"
                                required>
                            <option>Defence</option>
                            <option>Midfield</option>
                            <option>Attacking</option>
                        </select>
                        <p></p>
                        <input type="submit" class="btn-primary" value="Check Formation Pts"/><br>
                    </td>
                </tr>
                <p></p>
                <caption>
                    <a th:href="@{/team/tactics/}">Change Tactics Settings</a>
                </caption>
            </table>
        </div>
    </div>
</div>
</body>
</html>
<!--<head>-->
<!--    <meta charset="utf-8" />-->
<!--    <title></title>-->
<!--    <script src="https://kit.fontawesome.com/a076d05399.js"></script>-->
<!--    <link href="StyleSheet.css" rel="stylesheet" />-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
<!--</head>-->

<!--<body>-->


<!--&lt;!&ndash; footer &ndash;&gt;-->
<!--<div class="footer">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-md-4 col-xs-12">-->
<!--                <div class="first">-->
<!--                    <h4>My Skills</h4>-->
<!--                    <p> Analytical Skills</p>-->
<!--                    <p> Problem-solving skills</p>-->
<!--                    <p> Critical-thinking skills</p>-->
<!--                    <p> Detail-oriented</p>-->
<!--                    <p> Multitasking</p>-->
<!--                    <p> Self-motivated</p>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="col-md-4 col-xs-12">-->
<!--                <div class="second">-->
<!--                    <h4> Navigate</h4>-->
<!--                    <ul>-->
<!--                        <li><a href="#">Home</a></li>-->
<!--                        <li><a href="#">Projects</a></li>-->
<!--                        <li><a href="#">About</a></li>-->
<!--                        <li><a href="#">Contact</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="col-md-4 col-xs-12">-->
<!--                <div class="third">-->
<!--                    <h4> Contact</h4>-->
<!--                    <ul>-->
<!--                        <li>Andreea Mihaela Bunget </li>-->
<!--                        <li></li>-->


<!--                        <li><i class="far fa-envelope"></i> andreea@andreeabunget.co.uk</li>-->
<!--                        <li><i class="far fa-envelope"></i> email@yahoo.com</li>-->


<!--                        <li><i class="fas fa-map-marker-alt"></i> London, UK </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-12">-->
<!--                <div class="line"></div>-->
<!--                <div class="second2">-->
<!--                    <a href="https://codepen.io/AndreeaBunget" target="_blank"> <i class="fab fa-codepen fa-2x margin"></i></a>-->
<!--                    <a href="https://github.com/WebDeveloperCodeRep" target="_blank"> <i class="fab fa-github fa-2x margin"></i></a>-->
<!--                    <a href="https://www.linkedin.com/in/andreea-mihaela-bunget-a4248812b/" target="_blank"> <i class="fab fa-linkedin fa-2x margin"></i></a>-->
<!--                    <a href="https://www.youtube.com/channel/UCX674BUbomzBCakbb75lhfA?view_as=subscriber" target="_blank"><i class="fab fa-youtube fa-2x margin" ></i></a>-->

<!--                </div>-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<!--</body>-->