<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http:/>/www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>G4G - Players</title>
    <script src="/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Goal4Goal - Manager Panel</a>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Main<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/players">Players</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/team">Team</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tactics">Tactics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/match">Match</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/growStar">Grow a Star</a>
            </li>

        </ul>
    </div>
</nav>


<div class="container">
    <br><br>
    <form method="POST" th:action="@{/match/stats}">
    <div style="border-top-left-radius: 30px; border-bottom-right-radius: 30px; background-color: aliceblue">
        <div>
            <h2 style="text-align: center">Match of the Day</h2>
        </div>
        <table style="margin-left: auto; margin-right: auto; font-size: xx-large">
            <td></td>
            <td th:id="hostTeamName" th:text=${hostTeamName}/>
            <td></td>
            <td>th:id="hostTeamScore" th:text=${matchScore.getHostScore()}</td>
            <td></td>
            <td> :</td>
            <td></td>
            <td>th:id="guestTeamScore" th:text=${matchScore.getGuestScore()}</td>
            <td></td>
            <td th:id="guestTeamName" th:text=${guestTeamName}/>
            <td></td>
        </table>
    </div>
    <br><br>
        <div>
            <p>Min 1. Rozpoczynamy. Nad stadionem ciężkie chmury, a na twarzach gości gości uśmiech.
                Czują się jak u siebie.</p>
            <p>Min 8. Akcja drużyny XXX jednak bramkarz szerokim gestem wyciągnął królika z kapelusza czym zupełnie
                zmylił
                napastnika drużyny YYY</p>
            <p>Min 34. Kontra w wykonaniu YYY. Piłka sunie jak po sznurku. Było łatwo. Defensorzy XXX poszli
                oglądać nowy model Dacii. W końcowej fazie jednak zabrakło precyzji.
                Wynik bez zmian.</p>
            <p>Min 45. Gooooooool! W sytuacji sam na sam PlayerX wykańcza akcję sprytna podcinką.
                HostScore:GuestScore</p>
        </div>
        <input type="submit" class="btn-primary" style="background-color: #0040ff"
               value="Check Match Stats"/>
    </form>
</div>
</body>
</html>