<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http:/>/www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>G4G - Players</title>
    <script src="/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Goal4Goal - Manager Panel</a>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Main<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/players">Players</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/team">Team</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tactics">Tactics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="/reservations/create/stepone">Hire player</a>
            </li>
        </ul>
    </div>
</nav>

<div class="p-3 text-center bg-light"><h2 class="mb-3">Players List</h2>
</div>

<div class="container">
        <a class="nav-link" href="/players/hire">Hire new player</a>
    <form method="POST" th:action="@{/players/firstsquadplayers}">

        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
                <th>Position</th>
                <th>First 11</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="player : ${players}">
                <td th:text="${player.firstName}"/>
                <td th:text="${player.lastName}"/>
                <td th:text="${player.birthDate}"/>
                <td th:text="${player.position}"/>
                <td>
                    <input type="checkbox" th:name="firstSquadPlayer"
                           th:value="${player.id}" />
                </td>
                <td>
                    <a th:href="@{/players/delete/{id}(id=${player.id})}">Fire</a>
                </td>
                <td>
                    <a th:href="@{/players/managePlayer/{id}(id=${player.id})}">Manage</a>
                </td>

            </tr>
            </tbody>
        </table>
        <p></p>
        <input type="submit" class="btn-primary" style="background-color: #0040ff "
               value="Confirm first 11"/>
    </form>
</div>
</body>
</html>