<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Players List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

</head>
<body>
<div class="container">
    <h3>Zawodnicy w klubie: </h3>
<table class="table">
    <thead>
    <tr><td>Imie zawodnika</td>
        <td>Wiek zawodnika</td>
        <td>Pierwsza cecha</td>
        <td>Druga cecha</td>
    </tr>
    </thead>
<tbody th:each="player : ${players}">
<tr>
    <td th:text="${player.firstName}"></td>
    <td th:text="${player.age}"></td>
    <td th:text="${player.firstName}"></td>
    <td th:text="${player.age}"></td>


</tr>
</tbody>
</table>
    <div class="row">
        <a href="/newplayer">Pozyskaj nowego pilkarza</a>
    </div>
</div>
</body>
</html>