<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Player's Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

</head>
<body>
<div class="container">
    Actual time: <span th:text="${timeComponent.time}"/>
    User's experience points: <span th:text="${userInformation.experiencePoints}"/>

    <div>
        <p></p>
        <p>PLAYER'S DETAILS: </p>
        <p class="playerName" th:text="${player.firstName}" th:align="center"></p>
        <table class="table">
            <tr>
                <td></td>
                <td th:align="right">AGE:</td>
                <td th:text="${player.age}"></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <div class="playerAttsContainer">
            <table class="table">
                <tr>
                    <td>Goalkeeping</td>
                    <td><p th:text="${player.goalkeeping}"></p></td>
                    <td th:colspan="4"></td>
                    <td>Stamina</td>
                    <td><p th:text="222"></p></td>
                    <td th:colspan="4"></td>

                </tr>
                <tr>
                    <td>Pace</td>
                    <td><p th:text="333"></p></td>
                    <td th:colspan="4"></td>
                    <td>Defending</td>
                    <td><p th:text="${player.defending}"></p></td>
                    <td th:colspan="4"></td>
                </tr>
                <tr>
                    <td>Passing</td>
                    <td><p th:text="555"></p></td>
                    <td th:colspan="4"></td>
                    <td>Shooting</td>
                    <td><p th:text="666"></p></td>
                    <td th:colspan="4"></td>
                </tr>
                <tr>
                    <td>Playmaking</td>
                    <td><p th:text="777"></p></td>
                    <td th:colspan="4"></td>
                    <td>Dribbling</td>
                    <td><p th:text="888"></p></td>
                    <td th:colspan="4"></td>
                </tr>
            </table>
        </div>
    </div>

    <div>
        <p></p>
        <table class="table">
            <thead> PLAYER'S STATS:</thead>
            <p></p>
            <tr>
                <td>GAMES:</td>
                <td><p th:text="001"></p></td>
                <td th:colspan="4"></td>
                <td>AV. RATING</td>
                <td><p th:text="08.1"></p></td>
                <td th:colspan="4"></td>
            </tr>
        </table>
<!--        button to go to "PLAYERS" page-->
        <p></p>
        <a align="right" href="/players">BACK</a>

    </div>

</div>

</form>
</div>
</body>
</html>