<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SSE</title>
    <style>
        ul {
            width: 60%;
            margin-top: 10px;
            margin: 0 auto;
            font-family: "Courier New";
            background-color: #0040ff;
            height: 300px;
            overflow: scroll;
            color: bisque;
        }
        h1{
            text-align: center;
        }
        h3{text-align: center;
        }
    </style>
</head>
<body>
<h1>SSE example</h1>
<h3>Events:</h3>
<ul id="events"></ul>
</body>
<script type="text/javascript" src="C:\Users\Dell\IdeaProjects\goal4goal\src\main\resources\templates\script.js"></script>
</html>