<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Team Main Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

</head>
<body>
<div class="container">
    <div>
        <p th:align="center">FOOTBALL CLUB</p>
        <h3 th:align="center" th:text="${team.teamName}"></h3>
        <p></p>
    </div>
    <div>
        <p></p>
        <p th:align="center">MANAGER'S NAME</p>
        <h3 th:align="center" th:text="${userInformation.userNickname}"></h3>
    </div>
    <div>
        <br>
        <p th:align="center">LEAGUE TABLE</p>
        <!--        <h4 th:text="${team.managerName}"></h4>-->
        <table class="table">
            <thead>
            <td>Pos.</td>
            <td th:cols="3">Team</td>
            <td>Matches</td>
            <td>Points</td>
            <td>Goals Diff</td>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td th:text="${team.teamName}"></td>
                <td>3</td>
                <td>9</td>
                <td>12:3</td>
            </tr>
            <tr>
                <td>2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>3</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>4</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>5</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <p th:align="center">NEXT FIXTURES</p>
<!--        <div> Date: <span th:text="${timeComponent.date}"/>-->
<!--        </div>-->
<!--        <br>-->
        <table class="table">
            <thead>
            <td>Date</td><td>Place</td><td>Oponent</td>
            </thead>
            <tr>
                <td  th:text="${timeComponent.date}"></td><td>H</td><td>Man Utd</td>
            </tr>
            <tr>
                <td  th:text="${timeComponent.date}+7"></td><td>A</td><td>WHU</td>
            </tr>
        </table>
    </div>
    <div>
        <!--        tabela z taktykami-->
        <table class="table">
            <p th:align="center">TACTICS USED</p>
            <thead>
            <tr>
                <td>TACTICS NAME</td>
                <td>TACTICS LEVEL</td>
            </tr>
            </thead>
            <tbody th:each="tact: ${tactics}">
            <tr>
                <td th:text="${tact.getTacticsName}"></td>
                <td th:text="${tact.getTacticsLevel}"></td>
                <td><a th:href="${'/tactics?id='+tact.tacticsName}">Upgrade Tactics</a></td>

            </tr>
            </tbody>
        </table>
    </div>

    <table class="table">
        <tr>
            <!--        tu bedzie guzik powrotu lub przejscia do innych stron-->
            <!--        button to go to "PLAYERS" page-->
            <td>
                <div class="row">
                    <a href="/players">PLAYERS</a>
                </div>
            </td>

            <!--button zatwierdzenia taktyki, bez wychodzenia ze strony-->
            <td>
                <div class="row">
                    <a href="/team">SET TACTICS AS DEFAULT</a>
                </div>
            </td>
        </tr>
    </table>

</div>
</body>
</html>